/ frozen_string_literal: true

footer class="row"
  div class="col-md"
    = render Elements::Buttons::Dropdown::Component.new(id: 'Per page',
      preset: per_page_button,
      dropdown_items: per_page_dropdown_items)
    
  div class="col-md"
    == pagy_bootstrap_nav_js(pagy)
