/ frozen_string_literal: true

= content_tag main_header.present? ? :h1 : :h2 do
  = fa_icon(header[:icon], text: header[:title], title: header[:title])
  
  br

  - if header.key? :related
    small
      = fa_icon(header[:related][:icon],
        text: header[:related][:title],
        title: header[:related][:title],
        class: 'fa-1x')
