# frozen_string_literal: true

require 'rails_helper'

RSpec.describe 'System test', type: :system do
  before do
    sign_in_user
    visit admin_system_test_path
  end

  describe 'Javascript components' do
    it 'ensures Stimulus is loaded', js: true do
      expect(page).to have_text 'Stimulus loaded'
    end

    it 'ensures Turbo is loaded', js: true do
      expect(page).to have_text 'Turbo loaded'
    end
  end

  it 'ensures CSS styles are loaded', js: true do
    expect(page).to have_css 'p.css-test', visible: :hidden
  end

  it 'ensures Font Awesome is loaded', js: true do
    expect(page).to have_css 'i.fa-check', visible: :visible
  end

  describe 'bootstrap components' do
    it 'ensures CSS styles are loaded', js: true do
      expect(page).to have_css 'p.d-none', visible: :hidden
    end

    it 'ensures tooltips are working', js: true do
      find_button('Hover over to display a tooltip').hover
      expect(page).to have_css 'div.tooltip'
    end

    it 'ensures popovers are working', js: true do
      find_button('Click to toggle popover').click
      expect(page).to have_css 'div.popover'
    end
  end
end
