require 'rails_helper'

RSpec.describe 'Integrations show' do
  let(:admin) { create(:user) }

  before do
    sign_in admin

    visit admin_integration_url
  end

  context 'with javascript components' do
    it 'ensures Stimulus is loaded', js: true do
      expect(page).to have_text 'Stimulus loaded'
    end

    it 'ensures Turbo is loaded', js: true do
      expect(page).to have_text 'Turbo loaded'
    end
  end

  it 'ensures CSS styles are loaded', js: true do
    expect(page).to have_css 'span.css-test', visible: :hidden
  end

  context 'with bootstrap' do
    it 'ensures CSS styles are loaded', js: true do
      expect(page).to have_css 'span.d-none', visible: :hidden
    end

    it 'ensures dropdowns are working', js: true do
      find_button('Click dropdown button to show menu').click

      expect(page).to have_css 'ul.show'
    end

    it 'ensures tooltips are working', js: true do
      find_button('Hover over to display a tooltip').hover

      expect(page).to have_css 'div.tooltip'
    end

    it 'ensures popovers are working', js: true do
      find_button('Click to toggle popover').click

      expect(page).to have_css 'div.popover'
    end
  end
end
