# frozen_string_literal: true

module Buttons
  module Group
    class Component < ViewComponent::Base
      renders_many :buttons, lambda { |button:|
        Buttons::Button::Component.new button: button
      }

      def initialize(title: nil)
        @title = title
      end

      private

      attr_reader :title
    end
  end
end
